.element__like {
  margin: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  cursor: pointer;
  transition: 0.2s;
  background-image: url(../../../images/like.svg);
  border: 0;
  background-color: transparent;
  background-size: cover;
}
.element__like:hover {
  opacity: 0.5;
}
