.element__like-number{
    margin: 3px 0 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    max-width: 35px;
    text-overflow: ellipsis;
}