.popup__submit-button {
  width: calc(100% - 36px);
  width: 358px;
  height: 48px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  margin: 0 0 37px;
  padding: 0;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  transition: 0.3s;
  border: 0;
  border-radius: 2px;
}
.popup__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 530px) {
  .popup__submit-button {
    width: calc(100% - 44px);
    margin: 16px auto 25px;
    font-size: 14px;
    line-height: 17px;
    height: 46px;
  }
}
