.profile__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
  text-overflow: ellipsis;
  display: inline-block;
}

@media screen and (max-width: 775px) {
  .profile__subtitle {
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
  }
}
