.elements {
  margin: 0 auto;
  max-width: calc(100% - 400px);
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media screen and (max-width: 1250px) {
  .elements {
    max-width: calc(100% - 200px);
  }
}

@media screen and (max-width: 1075px) {
  .elements {
    max-width: calc(100% - 100px);
  }
}

@media screen and (max-width: 970px) {
  .elements {
    max-width: calc(100% - 50px);
  }
}

@media screen and (max-width: 900px) {
  .elements {
    grid-template-columns: 1fr 1fr;
    max-width: calc(100% - 200px);
  }
}

@media screen and (max-width: 800px) {
  .elements {
    max-width: calc(100% - 100px);
  }
}

@media screen and (max-width: 685px) {
  .elements {
    max-width: calc(100% - 38px);
  }
}

@media screen and (max-width: 620px) {
  .elements {
    grid-template-columns: 1fr;
  }
}
