.profile__avatar-container{
    margin: 0 30px 0 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.profile__avatar-container:hover .profile__avatar-edit-button{
    display: block;
}