@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/main/main.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name-container/profile__name-container.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__trash/element__trash.css);
@import url(../blocks/element/__bottom-block/element__bottom-block.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_active/element__like_active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copy-right/footer__copy-right.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__close-icon/popup__close-icon.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);
@import url(../blocks/popup/__submit-button/_inactive/popup__submit-button_inactive.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__description/popup__description.css);
@import url(../blocks/popup/__card/popup__card.css);
@import url(../blocks/popup/_form/popup_form.css);
@import url(../blocks/popup/_image/popup_image.css);
@import url(../blocks/popup/__input-error/popup__input-error.css);
@import url(../blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(../blocks/popup/__input/_error/popup__input_error.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/__hide-overlay/popup__hide-overlay.css);
.profile__avatar-container{
    margin: 0 30px 0 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 50%;
}
.profile__avatar-edit-button{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    display: block;
    display: none;
}
.profile__avatar-container:hover .profile__avatar-edit-button{
    display: block;
}
.profile__avatar-edit-button-image{
    margin: 0;
    padding: 0;
    width: 26px;
}
.element__like-container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.element__like-number{
    margin: 3px 0 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
}
.popup_avatar{
    background-color: rgba(0, 0, 0, 0.5);
  }
  .popup_confirm{
        background-color: rgba(0, 0, 0, 0.5);
      }