.profile__avatar {
  border-radius: 50%;
  padding: 0;
  height: 120px;
  width: 120px;
  object-fit: cover;
}

@media screen and (max-width: 775px) {
  .profile__avatar {
    margin: 0 0 22.5px;
  }
}
