@import url(../vendor/normalize.css);
@import url(../vendor/fonts/stylesheet.css);
.body {
  background-color: #000000;
  font-family: 'Inter';
}

.page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.header {
  margin: 0 auto;
  padding: 45px 0 41px;
  max-width: calc(100% - 400px);
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 142px;
  margin: 0;
  padding: 0;
}
.profile {
  max-width: calc(100% - 400px);
  margin: 40px auto 50px;
  padding: 0;
  display: flex;
  align-items: center;
}
.profile__avatar {
  border-radius: 50%;
  width: 168.75px;
  margin: 0 30px 0 0;
  padding: 0;
}
.profile__info {
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
  text-align: center;
}
.profile__edit-button {
  margin: 0;
  padding: 0;
  width: 24px;
  cursor: pointer;
  transition: 0.3s;
}
.profile__edit-button:hover {
  opacity: 0.6;
}
.profile__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding: 0;
  margin: 0;
}
.profile__add-button {
  margin: 0;
  padding: 0;
  margin-left: auto;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  display: flex;
  width: 150px;
  height: 50px;
  background-image: url(../images/add-button.svg);
  background-repeat: no-repeat;
  transition: 0.3s;
}
.profile__add-button:hover {
  opacity: 0.6;
}
.elements {
  margin: 0 auto;
  max-width: calc(100% - 400px);
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.element {
  margin: 0 auto;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  max-width: 282px;
}
.element__image {
  margin: 0;
  padding: 0;
  width: 282px;
  height: 282px;
}
.element__title {
  margin: 25px 15px 31px 21px;
  padding: 0;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  font-style: normal;
  display: flex;
  justify-content: space-between;
}
.element__like {
  margin: 0;
  padding: 0;
  width: 22px;
  cursor: pointer;
  opacity: 0.7;
  transition: 0.3s;
}
.element__like:hover {
  opacity: 0.5;
}
.footer {
  margin: 66px auto 60px;
  max-width: calc(100% - 400px);
}
.footer__copy-right {
  color: #545454;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
@media screen and (max-width: 1180px) {
  .profile {
    max-width: calc(100% - 200px);
  }
  .header {
    max-width: calc(100% - 200px);
  }
  .elements {
    max-width: calc(100% - 200px);
  }
  .footer {
    max-width: calc(100% - 200px);
  }
}

@media screen and (max-width: 1075px) {
  .profile {
    max-width: calc(100% - 100px);
  }
  .header {
    max-width: calc(100% - 100px);
  }
  .elements {
    max-width: calc(100% - 100px);
  }
  .footer {
    max-width: calc(100% - 100px);
  }
}
@media screen and (max-width: 970px) {
  .profile {
    max-width: calc(100% - 50px);
  }
  .header {
    max-width: calc(100% - 50px);
  }
  .elements {
    max-width: calc(100% - 50px);
  }
  .footer {
    max-width: calc(100% - 50px);
    margin: 48px auto 36px;
  }
}
@media screen and (max-width: 970px) {
  .profile {
    max-width: calc(100% - 50px);
  }
  .header {
    max-width: calc(100% - 50px);
    padding: 28px 0 31.6px;
  }
  .elements {
    max-width: calc(100% - 50px);
  }
  .footer {
    max-width: calc(100% - 50px);
    margin: 48px auto 36px;
  }
}
@media screen and (max-width: 900px) {
  .elements {
    grid-template-columns: 1fr 1fr;
    max-width: calc(100% - 200px);
  }
}
@media screen and (max-width: 800px) {
  .elements {
    max-width: calc(100% - 100px);
  }
}
@media screen and (max-width: 775px) {
  .profile {
    flex-direction: column;
    max-width: calc(100% - 38px);
    margin: 42px auto 36px;
  }
  .profile__avatar {
    margin: 0 0 22.5px;
  }
  .profile__info {
    gap: 14px;
    margin-bottom: 36px;
  }
  .profile__subtitle {
    text-align: center;
  }
  .profile__name {
    gap: 10px;
  }
  .profile__add-button {
    margin: 0 auto;
    background-image: url(../images/add-button-fill.svg);
    width: 282px;
  }
  .footer {
    max-width: calc(100% - 38px);
  }
}
@media screen and (max-width: 685px) {
  .elements {
    max-width: calc(100% - 38px);
  }
}
@media screen and (max-width: 620px) {
  .header {
    max-width: 100%;
  }
  .header__logo {
    margin-left: 27px;
  }
  .elements {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 450px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
  }
  .profile__edit-button {
    width: 18px;
  }
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
  }
  .footer__copy-right {
    font-size: 14px;
    line-height: 17px;
  }
}
