@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/main/main.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatat.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name-container/profile__name-container.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__trash/element__trash.css);
@import url(../blocks/element/__bottom-block/element__bottom-block.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_active/element__like_active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copy-right/footer__copy-right.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__close-icon/popup__close-icon.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__submit-button/popup__submit-button.css);
@import url(../blocks/popup/__image/popup__image.css);
@import url(../blocks/popup/__description/popup__description.css);
@import url(../blocks/popup/__card/popup__card.css);
@import url(../blocks/popup/_form/popup_form.css);
@import url(../blocks/popup/_image/popup_image.css);

.popup__submit-button_inactive{
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: #ffffff;
    color: #000000;
    opacity: .2;
    cursor: default;
  }
  .popup__submit-button_inactive:hover {
    opacity: 0.2;
  }
  .popup__error{
    margin: 5px 0 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    opacity: 0;
    visibility: hidden;
  }
  .popup__error_active{
    opacity: 1;
    visibility: visible;
  }
  .popup__input_error{
    border-bottom: 1px solid #FF0000;
  }
  .popup__form_error{
    gap: 9px;
  }
  .popup__field{
    display: flex;
    flex-direction: column;
    margin: -2px 0 0;
    padding: 0;
  }
  .popup__hide-overlay{
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    opacity: 0;
  }