.profile__info {
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (max-width: 775px) {
  .profile__info {
    gap: 14px;
    margin-bottom: 36px;
  }
}
